@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.tab {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #000;
    margin: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-items: center;
}

.tab div {
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: black;
    background-color: lightskyblue;
    cursor: pointer;
    position: relative;
}

.right-align {
    align-self: flex-end;
}

.tab div:hover {
    background-color: lightblue;
}

.tab div:active {
    background-color: rgb(36, 83, 87);
}

#Benefits {
    background-color: steelblue;
    margin-left: 60%;
}
.tab p {
    margin: 0;
}

#Home {margin-left: 5%}

.tab div p {
    display: block;
    margin: 0;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.topimg {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.topimg img {
    width: 100%;
    height: auto;
    display: block;
}

.imgcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5vw;
    color: white;
    font-weight: bolder;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto', sans-serif;
}

.intro {
    font-family: 'Open-Sans', sans-serif;
}

.intro h1 {
    font-size: 64px;
    text-align: center;
}

.intro p {
    font-size: 28px;
    margin-left: 15%;
    margin-right: 15%;
}



body {
    padding: 0;
    margin: 0;
}

p {
    margin-top: 5px;
}

h2 {
    margin-left: 15%;
    font-size: 40px;
    margin-bottom: 5px;
}

/* Footer */
.sidebar {
    margin-top: 5%;
    background-color: lightskyblue;
    color: #000;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
  }

  .wrapper {
    text-align: center;
    padding: 5px;
  }

  .sidebar a {
    color: #FF69B4;
    text-decoration: underline;
  }

  .sidebar a:hover {
    text-decoration: underline;
    color: #FF69B4;
  }
  .sidebar a:active {
    color: #94295e;
  }

  .sidebar p {
    font-size: 25px;
  }

