
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Downtown Donuts</title>
    <link rel="stylesheet" href="/static/selection.css" media="screen">
    <script src="/static/home.js"></script>
</head>
<body>
    <div class="topimg">
        <img src="/static/donuts.jpg">
        <div class="imgcaption">
            Delicious Downtown Donuts
        </div>
    </div>
    <div class="tab">
        <div id = "Home" class = "active" onclick = "homeLink()">
            <p>Home</p>
        </div>
        <div id = "Benefits" class = "right-align" onclick = "benefitLink()">
            <p>Benefits</p>
        </div>
        <div id = "Apply" class = "right-align" onclick = "applyLink()">
            <p>Apply Now!</p>
        </div>
        <div id = "Login" class = "right-align">
            <p>Employee Login</p>
        </div>
    </div>
    <div class="file-table">
        <table>
            {% if file_names %}
            <thead>
                <tr>
                    <th>File Names</th>
                </tr>
            </thead>
            {% endif %}
            <tbody>
                {% if file_names %}
                    {% for file_name in file_names %}
                    <tr>
                        <td class="file-entry">{{ file_name }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td class="empty" colspan="1">No entries found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    


    <div class="intro">
    <h1>Select Name</h1>
    <form action="/selection" method="POST" target="_blank">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" required>
    <br>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" required>
    <br>
    <input type="submit" value="Submit">
</form>


        <!-- Footer -->
        <aside class="sidebar" role="complementary">
            <div class="wrapper">
                <p>See our X <a href = "https://twitter.com/DeliDownDonuts">account</a> or our Meta <a href = "https://www.facebook.com/profile.php?id=61556521671011">account</a> for more info!</p>
                <p>Contact us at <a href="mailto:reneramirez2706@gmail.com">delidowndonuts@gmail.com</a></p>
                <p>Visit us at 115 A Central Ave, Hot Springs, AR 71901</p>
                <br>
                <p>Schedule</p>
                <p>Open Monday to Friday: 6:00 AM - 12:00 PM</p>
                <p>Open Saturday: 8:00 AM - 12:00 PM</p>
                <p>Closed Saturdays</p>
            </div>
        </aside>
</body>
</html>